// @import url('./../libs/normalize/normalize.min.css');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

::before,
::after {
    box-sizing: inherit;
}

@font-face {
    font-family: 'Inter';
    src: url('/fonts/Inter/Inter-VariableFont_opsz,wght.ttf') format('truetype-variations');
    font-weight: 100 900;
    font-stretch: 88% 100%;
    font-display: swap;
}

:root {
    --bg-black: #141619;
    --header-desktop-height: 90px;
    --header-mob-height: 70px;
    --trade-bar-desktop-height: 78px;
    --trade-bar-mob-height: 60px;
}

html {
    scroll-behavior: smooth;
}

body {
    position: relative;
    font-family: 'Inter', sans-serif;
    color: #fff;
    background-color: var(--bg-black);
    overscroll-behavior-y: none;
    overflow-x: hidden;
}

[class$=__container] {
    width: 100%;
    margin: 0 auto;
    padding-left: 32px;
    padding-right: 32px;
    max-width: 1120px;

    @media (max-width: 1279.98px) {
        max-width: 1120px;
    }
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 22px 64px;
    background-color: var(--bg-black);

    &__logo > img {
        width: auto;
        height: 42px;
    }

    &__menu {
        ul {
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 24px;
            width: 100%;
            padding: 0;
            list-style: none;

            li {
                display: inline-block;

                a {
                    font-style: normal;
                    font-weight: 400;
                    font-size: 15px;
                    line-height: 24px;
                    text-decoration: none;
                    text-transform: uppercase;
                    color: #fff;
                }
            }
        }
    }

    &__menu-has-submenu {
        position: relative;

        span {
            display: inline-block;
            padding: 10px 12px;
            text-transform: uppercase;
            cursor: pointer;

            &::after {
                display: inline-block;
                width: 16px;
                height: 16px;
                content: url('./../img/header/arr_down.svg');
                padding-left: 10px;
                cursor: pointer;
                transform-origin: 50% 75%;
                transition: transform .1s ease;
            }
        }

        &:hover {
            span {
                color: #5fa4e6;
                transition: color .2s;

                &::after {
                    filter: invert(86%) sepia(87%) saturate(1649%) hue-rotate(211deg) brightness(500%) contrast(91%);
                    transform: rotateX(180deg) translateY(15%);
                    transition: transform .1s ease, color .2s ease;
                }
            }


            > .header__menu-submenu {
                display: flex;
                opacity: 1;
            }
        }

        .header__menu-submenu {
            display: none;
            position: absolute;
            top: 100%;
            left: 50%;
            width: 256px;
            flex-direction: column;
            align-items: start;
            gap: 0;
            padding: 24px 40px;
            transform: translateX(-50%);
            opacity: 0;

            &::before {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                z-index: 0;
                width: 100%;
                height: 100%;
                border: 1px solid rgba(198, 156, 196, .15);
                border-radius: 4px;
                background-image: linear-gradient(180deg, rgba(20, 22, 25, 0.3) 0%, rgba(27, 27, 30, 0.3) 100%);
                backdrop-filter: blur(12px);
            }

            li {
                width: 100%;
                z-index: 1;
                cursor: pointer;

                a {
                    display: block;
                    position: relative;
                    padding: 6px 0;

                    &::before {
                        content: "";
                        position: absolute;
                        top: calc(50% - 72px);
                        left: -100px;
                        pointer-events: none;
                        width: 330px;
                        height: 160px;
                        background: url(/img/header/sub-menu-blob.png);
                        background-size: 100% 100%;
                        transition: opacity .2s;
                        opacity: 0;
                    }
                }

                &:hover {
                    a::before {
                        opacity: 1;
                    }
                }
            }
        }
    }

    &__menu--right {

        > ul {
            gap: 0;

            li {
                display: flex;
                align-items: center;
                gap: 11px;
            }
        }

        .header__menu-has-submenu {
            span::after {
                content: none;
            }
        }

        .header__menu-submenu {
            padding: 20px 40px 24px;

            .header__menu-submenu-title {
                color: rebeccapurple;
                font-size: 12px;
                line-height: 1.83333;
                -webkit-text-fill-color: rgba(0, 0, 0, 0);
                background: linear-gradient(135deg, rgb(102, 93, 205) 0%, rgb(95, 164, 230) 44.76%, rgb(210, 171, 103) 100%) text;
            }
        }
    }

    &__mob-menu-trigger {
        display: none;
        position: relative;
        cursor: pointer;
        width: 52px;
        height: 40px;
        margin-right: -10px;
        padding: 0;
        border: 0;
        background-color: rgba(0, 0, 0, 0);
        transform: rotate(0deg);
        transition: .5s ease-in-out;

        span {
            display: block;
            position: absolute;
            left: 10px;
            width: 32px;
            height: 2px;
            background: #fff;
            transform: rotate(0deg);
            transition: .25s ease-in-out;
            opacity: 1;

            &:nth-child(1) {
                top: 10px;
            }

            &:nth-child(2) {
                top: 19px;
            }

            &:nth-child(3) {
                top: 28px;
            }
        }

        &--open {
            span {
                &:nth-child(1) {
                    top: 19px;
                    transform: rotate(135deg);
                }

                &:nth-child(2) {
                    left: -12px;
                    opacity: 0;
                }

                &:nth-child(3) {
                    top: 19px;
                    transform: rotate(-135deg);
                }
            }
        }
    }

    @media (max-width: 1279.98px) {
        align-items: center;
        justify-content: space-between;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 500;
        width: 100%;
        height: var(--header-mob-height);
        padding: 12px 32px;
        border-bottom: 1px solid rgba(0, 0, 0, 0);
        transition: border-color .2s,
            background-color .2s;

        &__logo > img {
            width: auto;
            height: 30px;
        }

        &__menu {
            display: none;
        }

        &__mob-menu-trigger {
            display: block;
        }
    }
}

//mob-menu
.mob-menu {
    position: relative;
    top: var(--header-mob-height);
    left: 0;
    bottom: 0;
    right: 0;
    height: 100%;
    background-color: var(--bg-black);
    z-index: 100;

    //mob-menu open
    &[class$="mob-menu--open"] {

        .mob-menu__bkg {
            pointer-events: auto;
            opacity: 1;
        }

        .mob-menu__body {
            transform: translate3d(0, 0, 0);
            transition: transform .5s;
        }
    }

    &__bkg {
        position: fixed;
        top: var(--header-mob-height);
        right: 0;
        pointer-events: none;
        width: 100vw;
        height: 100%;
        background-color: rgba(20, 22, 25, .75);
        border-top: 1px solid hsla(0, 0%, 100%, .25);
        transition: opacity .2s;
        opacity: 0;
    }

    // ul
    &__body {

        display: flex;
        flex-direction: column;
        position: absolute;
        top: 0;
        right: 0;
        width: min(100vw, 480px);
        height: 100%;
        padding: 32px 48px 48px;
        border-left: 1px solid hsla(0, 0%, 100%, .25);
        background-color: #141619;
        transform: translate3d(100%, 0, 0);
        transition: transform .5s;
        overflow-y: auto;
        list-style-type: none;

        li {

            a {
                display: block;
                padding: 8px 0;
                font-size: 24px;
                font-weight: 500;
                line-height: 1.4;
                color: #fff;
                text-decoration: none;
            }
        }
    }

    // li
    &__has-submenu {

        span {
            padding: 8px 0;
            font-size: 24px;
            font-weight: 500;
            line-height: 1.4;
            color: #fff;
            cursor: pointer;

            &::after {
                display: inline-block;
                width: 16px;
                height: 16px;
                content: url('./../img/header/arr_down.svg');
                padding-left: 10px;
                cursor: pointer;
                transform-origin: 50% 75%;
            }
        }

        ul {
            li {
                a {
                    padding: 10px 0;
                }
            }
        }

        &--open {
            span::after {
                transform: rotateX(180deg) translateY(-100%);
            }

            .mob-menu__submenu {
                display: block;
            }
        }
    }

    // ul
    &__submenu {
        display: none;
        list-style-type: none;

        li {

            a {
                font-size: 19px;
                font-weight: 400;
            }
        }

    }
}

.main {
    min-height: 100vh;
    height: 100%;
    // border-top: 1px solid #fff;

    @media (max-width: 1279.98px) {
        margin-top: var(--header-mob-height);
    }
}

.sc1 {
    height: calc(100vh - var(--header-desktop-height) - var(--trade-bar-desktop-height));
    min-height: 500px;
    border-bottom: 1px solid #f00;

    &__bg {}

    &__container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: start;
    }

    &__h1 {
        max-width: 840px;
        height: auto;
        margin: 0 auto;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 500;
        font-size: 80px;
        line-height: 1.075;
        text-align: center;
        color: #fff;
    }

    &__descr {
        margin-top: 32px;
        width: 100%;
        max-width: 584px;
        color: rgb(229, 229, 229);
        font-size: 20px;
        font-weight: 400;
        letter-spacing: normal;
        line-height: 1.5;
        text-align: center;
    }

    &__btn {
        margin-top: 40px;
        display: flex;
        align-items: center;
        justify-content: center;

        &-wrap {
            position: relative;
            display: flex;
            justify-content: center;
            padding: 18px 26px;
            background: rgba(0, 0, 0, 0);
            border: 0;
            border-radius: 2px;
            outline: 0;
            overflow: hidden;
            cursor: pointer;

            &::before {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                border-radius: 2px;
                background: linear-gradient(135deg, #665DCD 0%, #5FA4E6 44.76%, #D2AB67 100%);
                transition: transform .4s;
                z-index: 1;
            }

            &::after {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                border: 2px solid rgba(0, 0, 0, 0);
                border-radius: 2px;
                border-image: linear-gradient(135deg, #665DCD 0%, #5FA4E6 44.76%, #D2AB67 100%) 1;
                transition: opacity .2s;
                z-index: 0;
                pointer-events: none;
            }
        }

        span {
            font-style: normal;
            font-weight: 500;
            font-size: 19px;
            line-height: 22px;
            text-align: center;
            text-transform: uppercase;
            color: #FFFFFF;
            z-index: 2;
        }

        &:hover {
            .sc1__btn-wrap {
                &::before {
                    transform: translate3d(100%, 0, 0);
                }
            }
        }
    }

    @media (max-width: 1023.98px) {
        height: calc(100vh - var(--header-mob-height) - var(--trade-bar-height));

        &__h1 {
            font-size: 64px;
        }

        &__descr {
            max-width: 410px;
        }
    }

    @media (max-width: 767.98px) {

        &__h1 {
            padding-top: 40px;
            font-size: 38px;
        }

        &__descr {
            font-size: 19px;
        }
    }
}

.trade-bar {
    display: flex;
    align-items: center;
    position: relative;
    width: 100%;
    height: var(--trade-bar-desktop-height);
    background-color: #fff;
    overflow: hidden;
    opacity: 1;
    z-index: 1;

    &__label {
        display: flex;
        align-items: center;
        position: relative;
        height: 100%;
        padding-right: 64px;
        padding-left: 64px;
        background-color: #fff;
        color: #141619;
        font-size: 20px;
        font-weight: 500;
        line-height: 1.1;
        text-transform: uppercase;
        z-index: 1;
    }

    &__items {
        display: flex;
        align-items: center;
        position: relative;
        width: 100%;
        height: 100%;
        display: inline-block;
        animation: scrollTradeBar linear infinite;
        animation-duration: 30s;
        overflow: hidden;
    }

    &__item {
        display: inline-flex;
        align-items: center;
        height: 100%;
        padding: 0 30px;
        color: #141619;
        // border-left: 1px solid  #141619;

        &--iconed {
            padding-left: 30px;
        }
    }

    &__item-icon {
        width: 20px;
        height: 20px;
        margin-right: 15px;
    }

    &__item-descr{
        display: flex;
        flex-direction: column;
        gap: 5px;
    }

    &__item-price {
        display: block;
        font-size: 20px;
        line-height: .9166666667
    }

    &__item-name {
        display: block;
        margin-top: 2px;
        font-size: 16px;
        line-height: 1.25
    }

    @media (max-width: 1023.98px) {
        height: var(--trade-bar-mob-height);

        &__label {
            padding-top: 1px;
            padding-right: 32px;
            padding-left: 32px;
            font-size: 20px;
        }

        &__item {
            padding-top: 1px;
        }

        &__item-price {
            font-size: 20px;
        }

        &__item-name {
            margin-top: 0;
        }
    }

    @media only screen and (max-width: 767px) {
        animation: none;
        transform: none;
        opacity: 1;

        &__label {
            display: none;
        }
    }
}


@media (max-width: 1279.98px) {
    //
}

@keyframes scrollTradeBar {
    from {
        transform: translateX(100%);
    }

    to {
        transform: translateX(-100%);
    }
}