@import url('./../libs/normalize/normalize.min.css');

@font-face {
    font-family: 'Inter';
    src: url('/fonts/Inter/Inter-VariableFont_opsz,wght.ttf') format('truetype-variations');
    font-weight: 100 900;
    font-stretch: 88% 100%;
    font-display: swap;
}

:root {
    --bg-black: #141619;
}

body {
    position: relative;
    font-family: 'Inter', sans-serif;
    color: #fff;
    background-color: var(--bg-black);
    overscroll-behavior-y: none;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 22px 64px;
    // border: 1px solid red;

    &__logo {
        width: auto;
        height: 42px;
    }

    &__menu {
        ul {
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 24px;
            width: 100%;
            padding: 0;
            list-style: none;

            li {
                display: inline-block;

                a {
                    font-style: normal;
                    font-weight: 400;
                    font-size: 15px;
                    line-height: 24px;
                    text-decoration: none;
                    text-transform: uppercase;
                    color: #fff;
                }
            }
        }
    }

    &__menu-has-submenu {
        position: relative;

        span {
            display: inline-block;
            padding: 10px 12px;
            text-transform: uppercase;
            cursor: pointer;

            &::after {
                display: inline-block;
                width: 16px;
                height: 16px;
                content: url('./../img/header/arr_down.svg');
                padding-left: 10px;
                cursor: pointer;
                transform-origin: 50% 75%;
                transition: transform .1s ease;
            }
        }

        &:hover {
            span {
                color: #5fa4e6;
                transition: color .2s;

                &::after {
                    filter: invert(86%) sepia(87%) saturate(1649%) hue-rotate(211deg) brightness(500%) contrast(91%);
                    transform: rotateX(180deg) translateY(15%);
                    transition: transform .1s ease, color .2s ease;
                }
            }


            > .header__menu-submenu {
                display: flex;
                opacity: 1;
            }
        }

        .header__menu-submenu {
            display: none;
            position: absolute;
            top: 100%;
            left: 50%;
            width: 180px;
            flex-direction: column;
            align-items: start;
            gap: 0;
            padding: 24px 40px;
            transform: translateX(-50%);
            opacity: 0;

            &::before {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                z-index: 0;
                width: 100%;
                height: 100%;
                border: 1px solid rgba(198, 156, 196, .15);
                border-radius: 4px;
                background-image: linear-gradient(180deg, rgba(20, 22, 25, 0.3) 0%, rgba(27, 27, 30, 0.3) 100%);
                backdrop-filter: blur(12px);
            }

            li {
                z-index: 1;

                a {
                    display: block;
                    position: relative;
                    padding: 8px 0;

                    &::before {
                        content: "";
                        position: absolute;
                        top: calc(50% - 72px);
                        left: -100px;
                        pointer-events: none;
                        width: 330px;
                        height: 160px;
                        background: url(/img/header/sub-menu-blob.png);
                        background-size: 100% 100%;
                        transition: opacity .2s;
                        opacity: 0;
                    }

                    &:hover {
                        &::before {
                            opacity: 1;
                        }
                    }
                }
            }
        }
    }

    &__menu--right {

        ul {
            gap: 0;

            li {
                a {
                    display: flex;
                    align-items: center;
                    gap: 11px;
                }
            }
        }
    }
}

.main {
    min-height: 100vh;
    height: 100%;
    border-top: 1px solid #fff;
}

@media (max-width: 1280px) {
    //
}